#header 
{
    width: 100%; 
    height:150px; 
    background-color: #F4F4F4; 
}
.main_logo{
    height: 150px;
	float: left;
	width: 15.00%;
}
.sub_logo{
    height: 150px;
    width: 85.00%;
    float: right;
}

/* Add a black background color to the top navigation bar */

.topnav {
    width: 96%;
    height: 50px;
    float: left;

  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #0e1a5c;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  width: 35%;
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

 .sb{
     width: 4%;
     height: 50px;
     float: right;
     background-color:  #e9e9e9;

 }

 
#footer{
  top: 1000px;
  position: absolute;
  background-color: #141618;
  width: 100%;
  height:100%;
}
#upper{
  height:5.5cm;
}
#line
{
  width: 100%;
  align-self: center;
  padding-left: 100px;
  padding-right: 100px;
  color: #25282A;
}
#upper_left
{
  position: absolute;
  width: 50%;
  height: 6.00cm;
  background-color: #141618;
  padding-top: 2.5cm;
  padding-left: 3.00cm;
  float: left;
}
 .upper_left_content h5 {
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;    
  color: #ffffff;
  line-height: 1.2;
  font-weight: 400;
  font-size: 28px;
  }
  #upper_right{
    position: absolute;
    width: 50%;
    height: 6.00cm;
    background-color: #141618;
    left: 50%;
    padding-top: 2.75cm;
    padding-left: 50px;
  }

  /*.email_id{
    box-sizing: border-box;
    border-top-color:#141618 ;
    border-left-color: #141618;
    border-right-color: #141618;
    border-bottom-color: #ffffff;
    ;
  }*/
  input[id="email_id"], textarea {
    width: 400px;
    background-color:#141618 ;
    border-bottom-color: #ffffff;
    border-top-color:#141618 ;
    border-left-color: #141618;
    border-right-color: #141618;
    font-size: 22px;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  }

  input[id="submit"], textarea{
    width: 100px;
    height: 40px;
    color:#000000;
    background-color: #ffffff;
    font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  border-color: none;
  font-size: 22px;
    
  }
  #lower {
    top: 6.5cm;
    position: absolute;
    background-color: #141618;
    height: 500px;
    width:100%;
  }
  .lower_first{
    position: absolute;

    width: 25%;
    height: 500px;
    background-color: #141618 ;
    float: left;
    padding-top: 2cm;
    padding-left: 2.7cm;
    

  }
  .lower_first p{
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    text-align: left;
    
  }
  .lower_second{
    position: absolute;
    width: 25%;
    height: 500px;
    left: 25%;
    background-color: #141618 ;
    padding-top: 0.5cm;
    padding-left: 3cm;
  }
  .lower_second p{
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    padding-right:55% ;
  }
  ul
  {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    
  }
  a
  {
    font-style: italic;
  }
  .lower_second a:hover {
    color: #928e8e;
  }
  .lower_third{
    position: absolute;
    width: 25%;
    height: 500px;
    left: 50%;
    background-color: #141618 ;
    padding-top: 0.5cm;
    padding-left: 2cm;
  }
  .lower_third a:hover {
    color: #928e8e;
  }
  .lower_third p{
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    padding-right: 55%;
    
  }
  .lower_fourth{
    position: absolute;
    width: 25%;
    height: 500px;
    left: 75%;
    background-color: #141618 ;
    padding-top: 0.5cm;
    padding-left: 1cm;
  }
  .lower_fourth a:hover {
    color: #928e8e;
  }
  .lower_fourth p{
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    padding-right: 55%;
    
  }
  
  *, *:after, *:before {
    box-sizing: border-box;
  }
  .main_box_nav
  {
    position: absolute;
    background-color: #ffffff;
    height: 300px;
    width: 500px;
    top: 400px;
    left: 33%;
    opacity: 0.5;
  
  }
  ul, li {
      margin: 0;
      padding: 0;
  }
  
  body {
      background-image: url('IMG-4671.png');
      background-size: cover;
    
  }
  
  .main-nav {
    width: 90%;
      max-width: 240px;
      margin: 0 auto;
    height: 100%;
    cursor: pointer;
    top: 325px;
    position: relative;
    left: 50px;
  }
  .main-nav ul {
      position: absolute;
    width: 100%;
      top: 40%;
      margin: 0;
      padding: 0;
  }
  .main-nav li {
      list-style: none;
      float: left;
      opacity: 1;
  }
  .main-nav a {
    display: block;
    height: 50px;
      margin: 10px;
      padding: 2px 25px;
      text-decoration: none;
      border-radius: 30px;
    line-height: 45px;
    color: #FFF;
      -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
  }
  
  .main-nav li:nth-child(1) a {
      background: #d83f3f;
      border: 2px solid rgb(255, 255, 255);
  }
  .main-nav li:nth-child(1) a:hover {
      background: #901d1d;
      color: #ffffff;
      border: 2px solid #c2bfbf;
  }
  
  .main-nav li:nth-child(2) a {
    background: #d83f3f;
      border: 2px solid rgb(255, 255, 255);;
  }
  .main-nav li:nth-child(2) a:hover {
      background: #901d1d;
      color: #ffffff;
      border: 2px solid #c2bfbf;
  }
  
  .user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(127, 37, 37, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
  }
  .user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
  }
  .user-modal.is-visible .user-modal-container {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  .user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .user-modal-container .switcher:after {
    content: "";
    display: table;
    clear: both;
  }
  .user-modal-container .switcher li {
    width: 50%;
    float: left;
    text-align: center;
      list-style:none;
  }
  .user-modal-container .switcher li:first-child a {
    border-radius: .25em 0 0 0;
  }
  .user-modal-container .switcher li:last-child a {
    border-radius: 0 .25em 0 0;
  }
  .user-modal-container .switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
      text-decoration: none;
  }
  .user-modal-container .switcher a.selected {
    background: #FFF;
    color: #505260;
  }
  @media only screen and (min-width: 600px) {
    .user-modal-container {
      margin: 4em auto;
    }
    .user-modal-container .switcher a {
      height: 70px;
      line-height: 70px;
    }
  }
  
  .form {
    padding: 1.4em;
  }
  .form .fieldset {
    position: relative;
    margin: 1.4em 0;
  }
  .form .fieldset:first-child {
    margin-top: 0;
  }
  .form .fieldset:last-child {
    margin-bottom: 0;
  }
  .form label {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
  .form label.username {
    background-image: url("https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-username.svg");
  }
  .form label.email {
    background-image: url("https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-email.svg");
  }
  .form label.password {
    background-image: url("https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-password.svg");
  }
  .form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
  }
  .form input.full-width {
    width: 100%;
  }
  .form input.has-padding {
    padding: 12px 20px 12px 50px;
  }
  .form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  .form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
  }
  .form input.has-error {
    border: 1px solid #d76666;
  }
  .form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
  }
  .form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #F64747;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
      -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
  }
  .form input[type=submit]:hover {
      background: #d83d3d;
  }
  .no-touch .form input[type=submit]:hover, .no-touch .form input[type=submit]:focus {
    background: #d83d3d;
    outline: none;
  }
  .form .hide-password {
    display: inline-block;
    position: absolute;
      text-decoration: none;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
  }
  .form .error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
  }
  .form .error-message::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
  }
  .form .error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
  }
  @media only screen and (min-width: 600px) {
    .form {
      padding: 2em;
    }
    .form .fieldset {
      margin: 2em 0;
    }
    .form .fieldset:first-child {
      margin-top: 0;
    }
    .form .fieldset:last-child {
      margin-bottom: 0;
    }
    .form input.has-padding {
      padding: 16px 20px 16px 50px;
    }
    .form input[type=submit] {
      padding: 16px 0;
    }
  }
  
  .form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
  }
  @media only screen and (min-width: 600px) {
    .form-message {
      padding: 2em 2em 0;
    }
  }
  
  .form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -40px;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
  }
  .form-bottom-message a {
    color: #FFF;
    text-decoration: none;
      border-bottom: 1px solid rgba(255, 255, 255, .0);
      padding: 0 0 0 2px;
      -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
  }
  .form-bottom-message a:hover {
      -webkit-animation: borderslide-3px .5s;
              animation: borderslide-3px .5s;
      border-bottom: 1px solid rgba(255, 255, 255, 1);
      padding-bottom: 3px;
  }
  
  @-webkit-keyframes borderslide-3px {
    0% {
          padding-bottom: 1px;
    }
    50% {
          padding-bottom: 3px;
    }
  }
  
  @keyframes borderslide-3px {
    0% {
          padding-bottom: 1px;
    }
    50% {
          padding-bottom: 3px;
    }
  }
  
  @-webkit-keyframes borderslide-2px {
    0% {
          padding-bottom: 1px;
    }
    50% {
          padding-bottom: 2px;
    }
  }
  
  @keyframes borderslide-2px {
    0% {
          padding-bottom: 1px;
    }
    50% {
          padding-bottom: 2px;
    }
  }
  
  .close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("../img/icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  @media only screen and (min-width: 1170px) {
    .close-form {
      display: none;
    }
  }
  
  .accept-terms {
      color: #F64747;
      text-decoration: none;
      padding: 0 1px 1px 2px;
      border-bottom: 1px solid rgba(246, 71, 71, .0);
      -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
  }
  
  .accept-terms:hover {
      -webkit-animation: borderslide-2px .5s;
              animation: borderslide-2px .5s;
      padding-bottom: 2px;
      border-bottom: 1px solid rgba(246, 71, 71, 1);
  }
  
  #login, #signup, #reset-password {
    display: none;
  }
  
  #login.is-selected, #signup.is-selected, #reset-password.is-selected {
    display: block;
  }
